<!DOCTYPE html>
<html lang="en-us">

<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>Sales Forecasting</title>

  <!-- Boostrap Stylesheet -->
  <link rel="stylesheet" href="static/css/bootstrap.min.css" media="screen">

  <!-- Our own CSS stylesheet -->
  <link rel="stylesheet" href="static/css/style.css" media="screen">

</head>

<body>


  <!-- Start of navbar -->
  <nav class="navbar navbar-default">
    <div class="container-fluid navbar-custom">

      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="row">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
            data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle Navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="col-xs-9 phone-nav">
            <a class="navbar-brand" href="/" id="logo"> Sales Forecasting</a>
          </div>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right navbar-right-custom">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                aria-expanded="false">Project Guide<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/">Introduction</a></li>
                <li><a href="/etl">What is ETL?</a></li>
                <li><a href="/what_we_did">What we did</a></li>
                <li><a href="/lessons_learnt">Lessons Learnt</a></li>
              </ul>
            </li>
            <li><a href="/visualizations">Visualizations</a></li>

          </ul>
        </div><!-- /.navbar-collapse -->
      </div>
    </div><!-- /.container-fluid -->
  </nav>
  <!-- End of navbar -->
<div class="container">
  <div class="row">
    <div class="col-md-12 jumbotron text-center">
      <h1>ETL</h1>
      <p>How to make </p>
    </div>
  <!-- </div>
      <div class="row">
        <div class="col-md-12">
          <h2><a href="/send">Add your item here!</a></h2>
        </div>
      </div>
      </div> -->

   

      <!-- Introduction to ETL -->
      <section>
      <h2>What is ETL?</h2>
      <p>ETL stands for Etract, Transform and Load.  
          The best way to imagine ETL is as a pipeline. The data (the oil) is etracted from the ground and then, refined through the pipeline (transformed) before finally reaching a consumable end state (loaded).  
      </p>
       </section>
    <h2>The Extraction Process</h2>
    <p>The first step in any sort of data decision making is the Extraction process. This can process can be subdivided into three steps:</p>
    <ul>
        <br>
        <li><strong>Identifying</strong> the data that you will be using.</li>
        <br>
        <li><strong>Validating</strong> the data, to ensure that values being provided are in line with
        with the given domain that you are investigating.</li>
        <br>
        <li><strong>Determining</strong> the format, that you want your dataset to come in. Some common-source formats are 
        JSON, and flat files (CSVs, etc.).</li>
        <br>
          <pre class="pre-scrollable"><code>@app.route('/api/predicted_table')
def predictions():

    sel = pd.read_sql_table('predicted_table', database_url)
    sel = sel.drop(sel.columns[0], axis=1)

    sel['Date'] = sel['Date'].dt.strftime('%Y-%m-%d')
    sel = sel.apply(pd.to_numeric, errors='ignore')

    return sel.to_json()
          </code></pre>

      </ul>
      <br clear = "left"> Extraction is the most <b>critical</b> step in the ETL process</i>

      <h2>The Transformation Process</h2>
      <p>This step can be the lengthiest and is often the most time consuming, here you:</p>
      <ul>
          <br>
          <li><strong>Encode</strong> free-from values, this is especially important when you need to apply machine learning algorithms.</li>
          <br>
          <li><strong>Aggregate</strong> the data, this data will.</li>
          <br>
          <li><strong>Assign</strong> rules as to how the data should be treated and processed.</li>
          <br>

        </ul>
        <br clear = "left"> Extraction is the most <b>critical</b> step in the ETL process</i>
  
        <h2>The Load Process</h2>
        <p>Once the transformation is complete the data can then be </p>
        <ul>
            <br>
            <li><strong>Decide</strong> where the transformed dataset will be loaded.</li>
            <br>
            <li><strong>Check</strong> to see if the data has been transferred successfully.
            There are cases where the application may reject or incorrectly import the data.</li>
            <br>
            <li><strong>Assign</strong> rules as to how the data should be treated and processed.</li>
            <br>

          </ul>
          <br clear = "left"> Extraction is the most <b>critical</b> step in the ETL process</i>        




    <!-- Start of footer -->
    <footer class="footer navbar-fixed-bottom">
      <div class="two-toned-footer-color"></div>
      <p class="text-muted text-muted-footer text-center">
        &copy; Copyright Sales Insider
      </p>
    </footer>
    <!-- End of footer -->
<!-- Load d3.js -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
<!-- <script src="https://d3js.org/d3.v4.js"></script> -->

<!-- Load d3-cloud -->
<script src="https://cdn.jsdelivr.net/gh/holtzy/D3-graph-gallery@master/LIB/d3.layout.cloud.js"></script>

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<!-- <script src="./static/js/app.js"></script> -->

<script src="{{ url_for('static', filename='js/app.js') }}"></script>

<!-- jQuery CDN -->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

<!-- Bootstrap CDN -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>


    
  </body>

</html>
