<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Sales Insider</title>
    <!-- Boostrap Stylesheet -->
    <link rel="stylesheet" href="static/css/bootstrap.min.css" media="screen">
 <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<!-- This is the landing page -->

<body>

    <!-- Start of navbar -->
    <nav class="navbar navbar-default">
      <div class="container-fluid navbar-custom">

        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="row">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
              data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle Navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <div class="col-xs-9 phone-nav">
              <a class="navbar-brand" href="/" id="logo"> Sales Forecasting</a>
            </div>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right navbar-right-custom">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                  aria-expanded="false">Project Guide<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="/">Introduction</a></li>
                  <li><a href="/etl">What is ETL?</a></li>
                  <li><a href="/what_we_did">What we did</a></li>
                  <li><a href="/lessons_learnt">Lessons Learnt</a></li>
                </ul>
              </li>
              <li><a href="/visualizations">Visualizations</a></li>

            </ul>
          </div><!-- /.navbar-collapse -->
        </div>
      </div><!-- /.container-fluid -->
    </nav>
    <!-- End of navbar -->

<div class="container">
  <div class="row">
    <div class="col-md-12 jumbotron text-center">
      <h1>Lessons Learnt</h1>
      <p>What went right, and wrong.</p>
    </div>
  <!-- </div>
      <div class="row">
        <div class="col-md-12">
          <h2><a href="/send">Add your item here!</a></h2>
        </div>
      </div>
      </div> -->

      <!-- Lessons LearntL -->
      <section>
        
        <p>In every project there will be opportunities to better deelop.   
            The below are just some of the key takeaways.
        </p>
        <br>
        <h4><b>Know Your Libraries and have alternatives</b></h4>
        <p>It is often far too easy to just load up a library, without fully comprehending
            the capabilities and limitations of the library.
            In our case, we initially opted to use MLtend library which is a well known library for apriori analysis. 
            The challenge with MLtend is that is not the most optimized and relies on brute force. 
            So when we ran a code for 38,000 line items, it either took thirty minutes to run the code or would not run at all. 
        </p>
         </section>
        <h4><b>Know Your Datasets</b></h4>
        <p> If data science is a journey then your dataset are the boots to carry you there. 
            A suboptimal dataset can put a stop to any project faster than a bad client, or a bad manager.
            In our case, the dataset had multiple items that were similar if not overlapping such as "brandy" and "liqour".            
        </p>
        <h4><b>Iterate with Smaller Datasets</b></h4>
        <p> The most important aspect in coding is constant iteration, and the best way to do that is with smaller datasets.
          When we were initially compiling our code, we would use the full dataset would take 10-20 minutes to reach an output.              
        </p>        
        <h4><b>Know Your Migration Rules</b></h4>
        <p> Data migration is where you can encounter the most frustrating errors.  
            During the Transformation phase we wanted to visualize our compiled data table into a set of graphs.
            However during our compilation we kept encountering <i>invalid escape string</i> errors. 
            </p>

  


<!-- Load d3.js -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
<!-- <script src="https://d3js.org/d3.v4.js"></script> -->

<!-- Load d3-cloud -->
<script src="https://cdn.jsdelivr.net/gh/holtzy/D3-graph-gallery@master/LIB/d3.layout.cloud.js"></script>

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<!-- <script src="./static/js/app.js"></script> -->

<script src="{{ url_for('static', filename='js/app.js') }}"></script>

<!-- jQuery CDN -->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

<!-- Bootstrap CDN -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

</body>

</html>