<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Sales Insider</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<!-- This is the landing page -->

<body>

    <!-- Start of navbar -->
    <nav class="navbar navbar-default">
      <div class="container-fluid navbar-custom">

        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="row">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle Navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <div class="col-xs-9 phone-nav">
              <a class="navbar-brand" href="#" id="logo"> Sales Forecasting</a>
            </div>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right navbar-right-custom">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Types of Visualizations <span class="caret"></span></a>
                <ul class="dropdown-menu">
                 <li><a href="visualizations/temp.html">Introduction</a></li>
                  <li><a href="visualizations/humidity.html">Word Cloud</a></li>
                  <li><a href="visualizations/cloudiness.html">Plotly</a></li>
                  <li><a href="visualizations/wind.html">Etc.</a></li>
                </ul>
              </li>
              <li><a href="comparison.html">What is ETL?</a></li>
              <li><a href="comparison.html">What We Did</a></li>
              <li><a href="data.html">Lessons Learnt</a></li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div>
      </div><!-- /.container-fluid -->
    </nav>
    <!-- End of navbar -->
  
<div class="container">
  <div class="row">
    <div class="col-md-12 jumbotron text-center">
      <h1>What We Did</h1>
      <p>Our Data Migration Process.</p>
    </div>
  <!-- </div>
      <div class="row">
        <div class="col-md-12">
          <h2><a href="/send">Add your item here!</a></h2>
        </div>
      </div>
      </div> -->

      <!-- Lessons LearntL -->
      <section>
        
        <h4><b>Step 0: Agreeing on the Topic</b></h4>
        <p> Our initial plan had to design a market basket analysis algorithm. 
            This analysis is based on the apriori principle </p>
        <br>
        <h4><b>Know Your Libraries and have alternatives</b></h4>
        <p>It is often far too easy to just load up a library, without fully comprehending
            the capabilities and limitations of the library.
            In our case, we initially opted to use MLtend library which is a well known library for apriori analysis. 
            The challenge with MLtend is that is not the most optimized and relies on brute force. 
            So when we ran a code for 38,000 line items, it either took thirty minutes to run the code or would not run at all. 
        </p>
         </section>
        <h4><b>Know Your Datasets</b></h4>
        <p> If data science is a journey then your dataset are the boots to carry you there. 
            A suboptimal dataset can put a stop to any project faster than a bad client, or a bad manager.
            Our pivot away from MLtend to FB Prophet gave us an opportunity to see if we could 
            manipulate the data.            
        </p>
        <h4><b>Know Your Migration Rules</b></h4>
        <p> Data migration is where you can encounter the most frustrating errors.  
            During the Transformation phase we wanted to visualize our compiled data table into a set of graphs.
            However during our compilation we kept encountering <i>invalid escape string</i> errors. 
            </p>
        <p> What this means is that every column that had a special character (such as "/"), or more than 2 words
            had to be replaced with an "_" so that the data could be properly transfered. </p>
  


<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<!-- <script src="./static/js/app.js"></script> -->

  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.min.js"></script>

  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>

</html>