<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Sales Insider</title>
    <!-- Boostrap Stylesheet -->
    <link rel="stylesheet" href="static/css/bootstrap.min.css" media="screen">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<!-- This is the landing page -->

<body>

    <!-- Start of navbar -->
    <nav class="navbar navbar-default">
      <div class="container-fluid navbar-custom">

        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="row">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
              data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle Navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <div class="col-xs-9 phone-nav">
              <a class="navbar-brand" href="/" id="logo"> Sales Forecasting</a>
            </div>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right navbar-right-custom">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                  aria-expanded="false">Project Guide<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="/">Introduction</a></li>
                  <li><a href="/etl">What is ETL?</a></li>
                  <li><a href="/what_we_did">What we did</a></li>
                  <li><a href="/lessons_learnt">Lessons Learnt</a></li>
                </ul>
              </li>
              <li><a href="/visualizations">Visualizations</a></li>

            </ul>
          </div><!-- /.navbar-collapse -->
        </div>
      </div><!-- /.container-fluid -->
    </nav>
    <!-- End of navbar -->
  
<div class="container">
  <div class="row">
    <div class="col-md-12 jumbotron text-center">
      <h1>What We Did</h1>
      <p>Our Data Migration Process.</p>
    </div>
  <!-- </div>
      <div class="row">
        <div class="col-md-12">
          <h2><a href="/send">Add your item here!</a></h2>
        </div>
      </div>
      </div> -->

      <!-- Steps outlining our project -->
      <section>
        
        <h4><b>Step 0: Agreeing on the Topic</b></h4>
        <p> Our initial plan had to design a market basket analysis algorithm which uses the apriori principle.
          The principle is that items that are frequent will cause bundles in which they are in to be more frequent.
        So say people like to buy cigarettes, any products that will be bundled with cigarettes will appear more frequently. </p>
        <br>
        <h4><b>Step 1: Selecting the Dataset</b></h4>
        <p>Our initial dataset consists of ~38,000 line items that came in a .CSV format. Each with three columns, Member ID, Date of purchase and item purchased. 
        </p>
         </section>
        <h4><b>Step 2: Attempt an Apriori Analysis</b></h4>
        <p> We initially attempted to do an Apriori analysis (market baskey analysis) using the MLtend library.
          This failed as when we ran the code it required large amounts of RAM, we determined this to be because the library 
          is poorly optimized. We then decided to use FB Prophet to conduct a sales forecasting analysis.          
        </p>
        <h4><b>Step 3: One Hot Encoding</b></h4>
        <p> After fetching our data, we deploy a get dummy variable. 
          This is similar <i>one-hot encoding</i> wherein the data is converted in boolean values (either you have bought the products
          or you have not). 
            </p>
            <code><pre> 
              cat_df = pd.get_dummies(data_df["itemDescription"])
              # We then concatenate the data
              final_df = pd.concat([data_df,cat_df],axis=1)
              # After concatenation of the data we then group all the data by the dates which gives 
              # a table we can use to conduct our machine learning algorithm.
              grouped_df = final_df.groupby("Date", as_index=False).sum()
              grouped_df.head()
            </pre> </code>  
        <h4><b>Step 5: Prepare the data for ML:</b></h4>
        <p> We then replace any special characters in the column names such as "/", "()", with "_".  This is important for the following steps 
          and when we move the table to PostGRES.
        <pre><code># Format the data, remove ".()/ " characters and restructure the names
# When tried to move the tables into SQL we received errors, the cause of this was the certain column names have parenthesis.
# The parentheses are escape strings which cause an error, so we have to replace them.
grouped_df.columns = grouped_df.columns.str.replace("[(.)]", "")
grouped_df.columns = grouped_df.columns.str.replace("[/]", " or ")
grouped_df.columns = grouped_df.columns.str.replace("[ ]", "_")


# # Prepare data for any future use
# ### Loading the data with ' . ( ) / ' characters created plenty of problems
# 'artif. sweetener',
# 'flower (seeds)',
# 'flower soil/fertilizer',
# ### str.replace function used to transform into
# 'artif_sweetener',
# 'flower_seeds',
# 'flower_soil_or_fertilizer',
</code></pre>


        <h4><b>Step 6:Facebook Prophet:</b></h4>
        <p> After cleansing the data we will then begin to code our For Loop.
          Our first For Loop is for all the rows in the table. This is fairly straightforward.
          The second For Loop is for all the columns.
            </p>
        <pre><code># Create master dataframe
master_df = pd.DataFrame()

for j in range(727, len(grouped_df.index)):
   # Predict thru all transactions.
  for i in range (1, len(grouped_df.columns)): 
    prophet_df = grouped_df[["Date", grouped_df.columns[i]]]
    
    # Convert the df into prophets format
    prophet_df.columns = ["ds", 'y']
    prophet_df['ds'] = pd.to_datetime(prophet_df.ds,format='%d-%m-%Y')
    
    # Fit the model by instantiate new Prophet object
    model = Prophet()
    model.fit(prophet_df)
    
    # Predictions are then made based on "ds" store it in yhat
    future = model.make_future_dataframe(periods=213)
    forecast = model.predict(future)
    predicted_df = forecast[["ds", "yhat"]]
    
    predicted_df.yhat = predicted_df.yhat.round()
</code></pre>    

<h4><b>Step 7:Renaming Columns and Generating Plots:</b></h4>
        <p> When we are done with the For Loops, we now begin to clean up the table by renaming the newly made columns.
          We also generate graphs for each one of the tables that show us the frequency for each item. 
          The second For Loop is for all the columns.
            </p>
<pre><code>  # Rename the column contains the predicted values
    predicted_ColName = grouped_df.columns[i]+"_Predicted"

    # Generate a figure (plot) displaying the forecast
    fig = model.plot(forecast, xlabel='Date', ylabel='Frequency')
    ax = fig.gca()
    ax.set_title(predicted_ColName, size=24)
    ax.set_xlabel("Date", size=18)
    ax.set_ylabel("Frequency", size=18)
    ax.tick_params(axis="x", labelsize=15)
    ax.tick_params(axis="y", labelsize=15)
    # Save the figure to re-use later on
    fig.savefig("static/images/plots/"+predicted_ColName+".png", bbox_inches='tight')

    # Rename the predicted columns as "<item name>_Predicted"
    predicted_df = predicted_df.rename( columpns={"ds": "Date", "yhat": predicted_ColName})

    #initialize container df if its the first column
    if len(master_df.index) == 0:
      master_df = predicted_df.copy()
    
    # merge the newly generated predicted Table to the right
    else:
      master_df[predicted_ColName] = predicted_df[predicted_ColName]
    
    # merge the original data column to the container 
    colName = grouped_df.columns[i]
    master_df[colName] = grouped_df[colName]

    # Break at the End Of File
    if i == len(grouped_df.columns):
      break

</code></pre>
        <h4><b>Step 8:Convert Object type to float64</b></h4>
        <p> Now that we have a new table we need to convert the columns from "strings" to "floats".
          Failing to do this will lead to problems with visualizing the code in Tableau.
        </p> 
        <pre><code># We then have to start cleaning up the table and remove all "NAN"s from the predicted columns. 
# This will make it easier for visualization purposes.
clean_df = master_df
clean_df = clean_df.replace(np.nan,"")
clean_df.dtypes

# Re-format the dataframe into numeric type except DATE for calculations.
clean_df = clean_df.set_index('Date').apply(pd.to_numeric, errors='ignore').reset_index(drop=False)
clean_df = clean_df.fillna(0)
clean_df.head()
</code></pre>

        <h4><b>Step 9: Load to PostgreSQL server</b></h4>
        <p> Once we have cleaned the data we then move the table onto PostgreSQL. </p>
        <pre><code># To update database with dataframe
def Update_Database(df_name, table_name):
    engine = create_engine(database_url, echo=False)
    session = Session(engine)
    Base = automap_base()
    Base.prepare(engine, reflect=True)    
    cxn = engine.connect()
    df_name.to_sql(name=table_name, con=engine, if_exists='append', index=True)
    print(table_name + ' added')
    #Add primary key
    #with engine.connect() as con:
    #con.execute('ALTER TABLE `predicted_table` ADD PRIMARY KEY (`Date`);')


Update_Database(clean_df, "predicted_table")
</code></pre>


        <h4><b>Step 10: Visualize the Data:</b></h4>
        <p>Once all of this is done, we begin to visualize the data on Tableau and try to identify trends and the most purchased products.</p>




<!-- Load d3.js -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
<!-- <script src="https://d3js.org/d3.v4.js"></script> -->

<!-- Load d3-cloud -->
<script src="https://cdn.jsdelivr.net/gh/holtzy/D3-graph-gallery@master/LIB/d3.layout.cloud.js"></script>

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<!-- <script src="./static/js/app.js"></script> -->

<script src="{{ url_for('static', filename='js/app.js') }}"></script>

<!-- jQuery CDN -->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

<!-- Bootstrap CDN -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

</body>

</html>