<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Sales Insider</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<!-- This is the landing page -->

<body>

    <!-- Start of navbar -->
    <nav class="navbar navbar-default">
      <div class="container-fluid navbar-custom">

        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="row">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle Navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <div class="col-xs-9 phone-nav">
              <a class="navbar-brand" href="#" id="logo"> Sales Forecasting</a>
            </div>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right navbar-right-custom">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Types of Visualizations <span class="caret"></span></a>
                <ul class="dropdown-menu">
                 <li><a href="visualizations/temp.html">Introduction</a></li>
                  <li><a href="visualizations/humidity.html">Word Cloud</a></li>
                  <li><a href="visualizations/cloudiness.html">Plotly</a></li>
                  <li><a href="visualizations/wind.html">Etc.</a></li>
                </ul>
              </li>
              <li><a href="comparison.html">What is ETL?</a></li>
              <li><a href="comparison.html">What We Did</a></li>
              <li><a href="data.html">Lessons Learnt</a></li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div>
      </div><!-- /.container-fluid -->
    </nav>
    <!-- End of navbar -->
  
<div class="container">
  <div class="row">
    <div class="col-md-12 jumbotron text-center">
      <h1>What We Did</h1>
      <p>Our Data Migration Process.</p>
    </div>
  <!-- </div>
      <div class="row">
        <div class="col-md-12">
          <h2><a href="/send">Add your item here!</a></h2>
        </div>
      </div>
      </div> -->

      <!-- Steps outlining our project -->
      <section>
        
        <h4><b>Step 0: Agreeing on the Topic</b></h4>
        <p> Our initial plan had to design a market basket analysis algorithm which uses the apriori principle.
          The principle is that items that are frequent will cause bundles in which they are in to be more frequent.
        So say people like to buy cigarettes, any products that will be bundled with cigarettes will appear more frequently. </p>
        <br>
        <h4><b>Step 1: Selecting the Dataset</b></h4>
        <p>Our initial dataset consists of ~38,000 line items that came in a .CSV format. Each with three columns, Member ID, Date of purchase and item purchased. 
        </p>
         </section>
        <h4><b>Step 2: Attempt an Apriori Analysis</b></h4>
        <p> We initially attempted to do an Apriori analysis (market baskey analysis) using the MLtend library.
          This failed as when we ran the code it required large amounts of RAM, we determined this to be because the library 
          is poorly optimized. We then decided to use FB Prophet to conduct a sales forecasting analysis.          
        </p>
        <h4><b>Step 3: One Hot Encoding</b></h4>
        <p> After fetching our data, we deploy a get dummy variable. 
          This is similar <i>one-hot encoding</i> wherein the data is converted in boolean values (either you have bought the products
          or you have not). 
            </p>
        <h4><b>Step 4: Group the Data</b></h4>
        <p> After encoding the data, then proceed to group all items by by date.
          The data becomes the primary key for data.</p>
        <h4><b>Step 5: Removing Special Characters</b></h4>
        <p> We then replace any special characters in the column names such as "/", "()", with "_".  This is important for the following steps 
          and when we move the table to PostGRES. 
            </p>          
        <h4><b>Step 6: Creating the For Loop</b></h4>
        <p> We now design the For Loop that will run the data. 
          This is where the ML component of the project comes in.
          We deploy FB Prophet to allow us to determine what the Actual  
            </p>

<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<!-- <script src="./static/js/app.js"></script> -->

  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.min.js"></script>

  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>

</html>